<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

	<select id="selectList" parameterType="PagingDto" resultType="ReplyDto">
		SELECT B.* FROM (SELECT A.*, ROWNUM AS RNUM FROM (SELECT * FROM BOARD ORDER BY REGROUP DESC, RESTEP) A) B WHERE RNUM BETWEEN ${to} AND ${from}
	</select>
	
	<select id="selectOne" parameterType="int" resultType="BoardDto">
		SELECT * FROM BOARD WHERE SEQ = ${seq}
	</select>
	
	<insert id="insert" parameterType="ReplyDto">
		INSERT INTO BOARD VALUES(BOARDSEQ.NEXTVAL, #{writer}, #{title}, #{content}, SYSDATE, REPLYSEQ.NEXTVAL, 1, 0, #{delflag} )
	</insert>
	
	<update id="update" parameterType="BoardDto">
		UPDATE BOARD SET TITLE = #{title}, CONTENT = #{content} WHERE SEQ = ${seq}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM BOARD WHERE SEQ = ${seq}
	</delete>
	
</mapper>

